.event-page {
  height: 100vh;
  width: 100vw;
  border-style: solid;
  border-color: hotpink;
  background-color: antiquewhite;
}

.event-section {
display: flex;
flex-direction: column;
align-items: center;
}

.event-heading {
  font-size: 2.3em;
}