/* BIG --------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}

/* MEDIUM --------------------------------------------------------*/
@media screen and (max-width: 1400px) and (min-width: 750px) {

}

/* IPHONE --------------------------------------------------------*/
@media screen and (max-width: 750px) {

}


.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-image {
  height: 8em;
}

.result-text {
  font-size: .9em;
  text-align: center;
}