/* BIG --------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  .ingredient {
    text-align: center;
    font-size: 1.4em;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: rgba(212, 231, 212, 0.823);
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.829);
  }
}

/* MEDIUM --------------------------------------------------------*/
@media screen and (max-width: 1400px) and (min-width: 750px) {
  .ingredient {
    text-align: center;
    font-size:1em;
    width: 100%;
    height: 1.9em;
    margin-bottom: .9em;
    cursor: pointer;
    background-color: rgba(212, 231, 212, 0.823);
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.829);
  }
}

/* IPHONE --------------------------------------------------------*/
@media screen and (max-width: 750px) {
  .ingredient {
    text-align: center;
    font-size: .8em;
    width: 100%;
    height: 2em;
    margin-bottom: .8em;
    cursor: pointer;
    background-color: rgba(212, 231, 212, 0.823);
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.829);
  }
}