
/* BIG --------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}

/* MEDIUM --------------------------------------------------------*/
@media screen and (max-width: 1400px) and (min-width: 750px) {

}

/* IPHONE --------------------------------------------------------*/
@media screen and (max-width: 750px) {

}


.select-ing-header {
  font-size: 1.3em;
  width: 75%;
  text-align: center;
}

.ingredient-results-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33vh;
  /* height: 33vh; */
  overflow-x: auto;
  /* overflow-y: scroll; */
  border-style: solid;
  border-color: greenyellow;
  margin-top: 1em;
}

.ingredients-results {
  display: flex;
  flex-direction: column-reverse;
  border-style: solid;
  border-color: rgba(31, 109, 34, 0.648);
}