.home-page {
  height: 100vh;
  width: 100vw;
  border-style: solid;
  border-color: hotpink;
  background-color: antiquewhite;
  overflow-x: auto;
}

.home-title {
  text-align: center;
  font-size: 2.2em;
}

.search-section {
  margin: auto;
  /* height: 80vh; */
  width: 92vw;
  border-style: solid;
  border-color: rgba(251, 255, 16, 0.428);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-input-area {
  /* height: 100%; */
  width: 45em;
  /* height: 100%; */
  border-style: solid;
  border-color: blueviolet;
  margin-right: 1em;
}

.search-display {
  border-style: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  width: 55em;
  /* min-height: 5vh; */
  height: 69vh;
  margin-left: 1em;
}