header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: dashed;
}

.page-title {
  font-size: 2.5em;
}

.nav-panel {
  display: flex;
  padding: 2em;
}

a {
  text-decoration: none;
}

.link-text {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  /* color: white; */
}