/* BIG --------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  .details-page {
    height: 100vh;
    width: 100vw;
    border-style: solid;
    border-color: rgb(2, 2, 2);
    overflow-x: auto;
    background: linear-gradient(10deg, rgba(99, 84, 88, 0.38) 19%, rgba(46, 36, 33, 0.779) 83%), url(../../Images/horizontal-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(244, 239, 232);
    text-shadow: 3px 2px 2px #000000df;
    font-weight: 800;
  }
  
  .cocktail-details {
    margin: auto;
    height: 80vh;
    width: 94vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .selected-cocktail-name {
    font-size: 3.1em;
    margin-top: 0em;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .selected-cocktail-glass {
    font-size: 1.6em;
    font-weight: 800;
    margin-top: .1em;
  }

  .selected-cocktail-ingredients-header {
    font-size: 1.5em;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df; 
    margin-bottom: 0em; 
  }

  .selected-cocktail-ingredients-list {
    font-size: 1.2em;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df;  
  }

  .selected-cocktail-instructions {
    font-size: 1.2em;
  }

  .add-button {
    width: 35%;
    font-size: 1.2em;
    margin-top: 1.7em;
    background-color: rgba(165, 230, 95, 0.727);
    color: black;
    border-radius: 15px;
  }

  .saved-message {
    font-size: 1.2em;
    margin-top: 1.7em;
    font-style: italic;
  }

  .cocktail-detail-image {
    position: relative;
    width: 100%;
    max-width: 38em;
    object-fit: contain;
    object-position: middle;
    margin: 5em 1em 2em 2em;
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-radius: 9px; 
  }
  
  .cocktail-detail-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .cocktail-details-area {
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-width: 3px;
    border-radius: 13px;
    background-color: rgba(27, 27, 27, 0.773);
    width: 45vw;
    min-height: 34em;    
    margin: 5em 2em 2em 1em;
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  
  .detail-status-message {
    text-align: center;
    margin-top: 10em;
    color: rgb(236, 69, 32);
    text-shadow: 3px 2px 2px #000000df;  
  }
}

/* MEDIUM --------------------------------------------------------*/
@media screen and (max-width: 1400px) and (min-width: 750px) {
  .details-page {
    height: 100vh;
    width: 100vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    overflow-x: auto;
    background: linear-gradient(10deg, rgba(99, 84, 88, 0.38) 19%, rgba(46, 36, 33, 0.779) 83%), url(../../Images/square-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(244, 239, 232);
    text-shadow: 3px 2px 2px #000000df;
    font-weight: 800;
  }
  
  .cocktail-details {
    margin: auto;
    height: 80vh;
    width: 98vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .selected-cocktail-name {
    font-size: 2.4em;
    margin-top: 0em;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .selected-cocktail-glass {
    font-size: 1.5em;
    font-weight: 800;
    margin-top: .1em;
  }

  .selected-cocktail-ingredients-header {
    font-size: 1.4em;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df;  
    margin-bottom: 0em;
  }

  .selected-cocktail-ingredients-list {
    font-size: 1.1em;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df;  
  }

  .selected-cocktail-instructions {
    font-size: 1.1em;
  }

  .add-button {
    width: 60%;
    font-size: 1.1em;
    margin-top: 1.7em;
    background-color: rgba(165, 230, 95, 0.727);
    color: black;
    border-radius: 12px;
  }

  .saved-message {
    font-size: 1.1em;
    margin-top: 1.7em;
    font-style: italic;
  }  
  .cocktail-detail-image {
    position: relative;
    width: 45%;
    /* max-width: 34em; */
    object-fit: contain;
    object-position: middle;
    margin: 5em 1em 2em 2em;
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-radius: 9px; 
  }
  
  .cocktail-detail-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .cocktail-details-area {
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-width: 3px;
    border-radius: 13px;
    background-color: rgba(27, 27, 27, 0.735);
    width: 45vw;
    min-height: 32em;
    margin: 5em 2em 2em .6em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-bottom: 1em;
  }
  
  .detail-status-message {
    text-align: center;
    margin-top: 10em;
    color: rgb(236, 69, 32);
    text-shadow: 3px 2px 2px #000000df;  
  }
}

/* IPHONE --------------------------------------------------------*/
@media screen and (max-width: 750px) {
  .details-page {
    height: 100vh;
    width: 100vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    overflow-x: auto;
    background: linear-gradient(10deg, rgba(99, 84, 88, 0.38) 19%, rgba(104, 90, 86, 0.779) 83%), url(../../Images/vertical-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(244, 239, 232);
    text-shadow: 3px 2px 2px #000000df;
    font-weight: 800;
  }
  
  .cocktail-details {
    margin: auto;
    height: 100%;
    width: 92vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .selected-cocktail-name {
    font-size: 2em;
    text-align: center;
    margin-top: .3em;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .selected-cocktail-glass {
    font-size: 1.3em;
    margin-top: 0em;
    text-align: center;
    font-weight: 800;
  }

  .selected-cocktail-ingredients-header {
    font-size: 1.3em;
    text-align: center;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df;  
    margin-bottom: 0em;
  }

  .selected-cocktail-ingredients-list {
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(224, 227, 153, 0.877);
    text-shadow: 3px 2px 2px #000000df;  
  }

  .selected-cocktail-instructions {
    font-size: 1em;
    text-align: center;
  }

  .add-button {
    width: 50%;
    font-size: 1em;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    background-color: rgba(165, 230, 95, 0.727);
    color: black;
    border-radius: 10px;
  }

  .saved-message {
    font-size: 1em;
    margin-top: 1.7em;
    font-style: italic;
    text-align: center;
  }  
  .cocktail-detail-image {
    position: relative;
    width: 55%;
    object-fit: contain;
    object-position: middle;
    margin-top: 2em;
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-radius: 9px;
  }
  
  .cocktail-detail-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .cocktail-details-area {
    border-style: solid;
    border-color: rgba(239, 236, 232, 0.73);
    border-width: 3px;
    border-radius: 13px;
    background-color: rgba(27, 27, 27, 0.735);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 2em;
    padding: .7em;
    margin-bottom: 2em;
  }
  
  .detail-status-message {
    text-align: center;
    margin-top: 10em;
    color: rgb(236, 69, 32);
    text-shadow: 3px 2px 2px #000000df;  
  }
}

.add-button {
  cursor: pointer;
}


