/* BIG --------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  .search-result-heading {
    font-size: 1.8em;
    text-align: center;
  }

  .search-results-display {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    overflow-x: auto;
    background-color: aquamarine;
  }
  
  .clear-area {
    align-self: center;
  }
  
  .clear-button {
    width: 8em;
    cursor: pointer;
    margin-bottom: 1.7em;
    font-size: 1.1em;
  }
}

/* MEDIUM --------------------------------------------------------*/
@media screen and (max-width: 1400px) and (min-width: 750px) {
  .search-result-heading {
    font-size: 1.9em;
    text-align: center;
  }

  .search-results-display {
    /* max-width: 95vw; */
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    overflow-x: auto;
    background-color: aquamarine;
  }
  
  .clear-area {
    align-self: center;
  }
  
  .clear-button {
    width: 8em;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
}

/* IPHONE --------------------------------------------------------*/
@media screen and (max-width: 750px) {
  .search-result-heading {
    font-size: 1.3em;
    text-align: center;
  }

  .search-results-display {
    /* width: 100%; */
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    overflow-x: auto;
    background-color: aquamarine;
  }
  
  .clear-area {
    align-self: center;
  }
  
  .clear-button {
    width: 8em;
    cursor: pointer;
    margin-bottom: 1em;
  }
}
